.login {
  .loginBox {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .ant-input-affix-wrapper {
      margin-bottom: 10px;
    }

    .login-form {
      max-width: 300px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }

}